<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--local casa-->
    <!--<add key="servidor" value="localhost" />
    <add key="usuario" value="xbee" />
    <add key="password" value="xbee" />
    <add key="bd" value="softfuel" />-->
  
  <!--anderson-->
    <!--<add key="servidor" value="192.168.0.141" />
    <add key="usuario" value="root" />
    <add key="password" value="" />
    <add key="bd" value="softfuel" />-->
 <!--produccion-->
    <add key="servidor" value="192.168.0.126" />
    <add key="usuario" value="root" />
    <add key="password" value="" />
    <add key="bd" value="softfuel" />
  </appSettings>
</configuration>
